

// //////color///////
$primary-color:#b19777;
$white:#fff;
$secondery-color:#999;
$tertiary-color:#373737;
$fourth-color:#323232;
$priymary-bg:#272727;

// //////color///////

$primary-fonts:'Oswald', sans-serif;;
$secondery-fonts:'Didact Gothic', sans-serif;